html {
  height: 100%;
  width: 100%; }

body {
  font-family: "Abel", sans-serif;
  font-size: 14px;
  height: 100%;
  width: 100%;
  color: grey;
  animation: fadeIn 1.5s; }

html,
body {
  margin: 0;
  padding: 0; }

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #acc6c9; }

img {
  max-width: 100%; }

section {
  width: 100%;
  margin: 0;
  max-width: 100%;
  text-align: center; }

video {
  display: block; }

h1,
h2,
h3,
h4 {
  color: #264c59;
  text-transform: uppercase;
  margin: 0; }

p {
  color: black; }

a {
  color: #264c59;
  text-decoration: none; }

.divider {
  margin: 25px 0; }

header {
  width: 100%;
  margin: 0;
  height: 100%;
  max-height: 736px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 40px;
  font-family: 'nevisbold'; }

#header h1 {
  margin: 110px 0 0 0;
  font-size: 32px; }
#header h2 {
  font-size: 15px;
  letter-spacing: -0.05rem; }

#expertise {
  margin: 50px 0; }
  #expertise h3 {
    margin: 35px 0 0 0; }
  #expertise p {
    margin: 0 20px 20px 20px; }

#portfolio h2 {
  margin: 10px 0 0 0; }
#portfolio h3 {
  text-transform: lowercase;
  font-size: 20px;
  margin: 0 0 10px 0; }
#portfolio h4 {
  font-size: 46px; }
#portfolio p {
  margin: 0 20px 100px 20px; }
#portfolio section {
  background-color: #efefef; }
#portfolio img {
  display: block; }
#portfolio .reverse {
  display: flex;
  flex-direction: column; }
#portfolio .mobile-flex {
  order: 1; }

#portfolio-text {
  text-align: right;
  letter-spacing: 14px; }

#cv {
  background-color: #acc6c9;
  padding: 100px 0; }
  #cv h2 {
    margin: 0 0 10px 0; }
  #cv p {
    margin: 0; }

#who-is-this {
  margin: 50px 0; }
  #who-is-this img {
    border-radius: 50%;
    width: 75%; }
  #who-is-this p {
    margin: 0 20px; }

#contact {
  margin: 50px 0 0 0; }
  #contact img {
    border-radius: 50%;
    width: 75%; }
  #contact p {
    margin: 0 20px;
    line-height: 1; }
  #contact a {
    line-height: 1; }

.contact-text-margin {
  margin-bottom: 35px; }

#footer {
  background-color: #acc6c9;
  padding: 50px; }
  #footer p {
    margin: 0;
    color: black;
    text-transform: uppercase; }

#footer-social i {
  color: black;
  margin: 0 5px; }

@media (min-width: 300px) {
  .container {
    width: 100%;
    padding: 0; }

  #header h1 {
    font-size: 30px;
    margin: 250px 0 0 0; }
  #header h2 {
    font-size: 14px; } }
@media (min-width: 768px) {
  .columns {
    margin-left: 0; }

  .row {
    display: flex;
    align-items: center; }

  header {
    max-height: 1024px;
    background-size: 100%;
    width: 100%;
    margin: 0;
    height: 100%; }

  #header h1 {
    font-size: 42px; }
  #header h2 {
    font-size: 19px;
    letter-spacing: -0.01rem; }

  #expertise {
    margin: 150px 0;
    padding: 0 20px; }
    #expertise p {
      margin: 0; }

  .responsive-left {
    text-align: right; }

  .responsive-right {
    text-align: left;
    padding: 0 0 0 50px; }

  #portfolio h2 {
    margin: 0 0 0 10px;
    font-size: 26px; }
  #portfolio h3 {
    margin: 0 0 0 10px;
    font-size: 16px; }
  #portfolio p {
    margin: 0 0 0 10px; }
  #portfolio a {
    margin: 0 0 0 10px; }
  #portfolio img {
    width: 100%;
    height: 450px;
    display: block;
    object-fit: cover;
    object-position: top; }
  #portfolio .reverse {
    justify-content: flex-end;
    flex-direction: row; }
  #portfolio .mobile-flex {
    order: 0; }

  #portfolio-text {
    font-size: 50px; }

  #who-is-this {
    margin: 150px 0px; }
    #who-is-this h2 {
      font-size: 36px;
      margin: 0 20px; }

  #contact {
    margin: 100px 0;
    text-align: center; }
    #contact h2 {
      margin: 0 20px; }
    #contact a {
      margin: 0 20px; }

  .contact-img-margin {
    margin: 0 15px; } }
@media (min-width: 1280px) {
  header {
    max-height: 800px;
    background-size: 100%;
    width: 100%;
    margin: 0;
    height: 100%; }

  #header h1 {
    font-size: 60px;
    margin: 325px 0 0 0; }
  #header h2 {
    font-size: 27px;
    letter-spacing: 0.01rem;
    margin: 0; } }
@media (min-width: 1440px) {
  header {
    max-height: 900px;
    background-size: 100%;
    width: 100%;
    margin: 0;
    height: 100%; }

  .button,
  input[type="button"] {
    height: 58px;
    line-height: 58px;
    font-size: 20px; }

  h2 {
    font-size: 50px; }

  h3 {
    font-size: 40px; }

  p {
    font-size: 20px; }

  a {
    font-size: 20px; }

  #header h1 {
    margin: 400px 0 0 0; }
  #header h2 {
    margin: 0; }

  #expertise {
    margin: 200px 0; }

  #portfolio h2 {
    font-size: 40px; }
  #portfolio h3 {
    font-size: 26px; }
  #portfolio .reverse {
    justify-content: flex-end; }

  #portfolio-text {
    font-size: 60px; } }
@media (min-width: 2500px) {
  header {
    background-image: none;
    max-height: 1440px;
    background-size: 100%;
    width: 100%;
    margin: 0;
    height: 100%; }

  #header h1 {
    margin: 600px 0 0 0; }
  #header h2 {
    margin: 0; }

  #portfolio .reverse {
    justify-content: flex-end; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=style.css.map */
