html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Abel", sans-serif;
    font-size: 14px;
    height: 100%;
    width: 100%;
}

#header {
    background: url(/images/background-test.png) no-repeat top center;
    background-size: 100%;
    width: 100%;
    margin: 0;
    height: 100%;
    max-height: 736px;
}

.header-content{
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    padding-top: 40px;
}



.vertical-header {
    margin: auto;
    display: initial;
}